@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ghe{
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  cursor: pointer;
}
.gheMobile{
  background: rgba(225, 225, 225, 0.4);
  border: 3px solid orange;
  width: auto;
  height: auto;
  font-size: 5px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 1px;
  cursor: pointer;
}
.gheMobile.choose{
  background: orange;
}
.backGround{
  width: 100%;
  height: 100vh;
  background: url('./Pages/PurChasePage/bgmovie.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.rowNumber{
  /* font-size: 25px; */
  width: auto;
  height: auto;
  background: none;
  border:none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
  
}
.gheDuocChon {
  border: 1px solid orange;
  background: orange;
  width: 45px;
  height: 35px;
  color: #000;
  border-radius: 1px;
}
.gheDuocChonMobile {
  background-color: orange;
  width:100%;
height: 100%;
}

.ant-card .ant-card-body{
  padding: 10px;
}
/* index.css */ 
.modal {
  font-size: 12px;
  position: relative;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 10px;
  top: 5px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.ant-card-cover img {
  border-radius: 10px;
}
